#newUserDiv {
    margin: auto;
    border: solid;
    border-width: 2px;
    padding: 20px;
    width: 200px;
}

#loginDiv {
    margin: auto;
    border: solid;
    border-width: 2px;
    padding: 20px;
    width: 200px;
}

.submitButton {
     margin-left:35%;
}

h3 {
    text-align: center;
}

h1 {
    text-align: center;
}

#welcome {
    left: 500px;
}

#btn_div {
    margin: auto;
    border: solid;
    border-width: 2px;
    padding: 20px;
    width: 125px;
}

#createToDoList {
    margin: 25px;
}

#toDoListActions {
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 275px;
}

.errorMessage {
    color: red;
    font-size: 18px;
}

#dashboard {
    margin: auto;
    border: solid;
    border-width: 2px;
    padding: 20px;
    width: 200px;
}
